# Web scrapping of Population and Demographics data of New York city from Wikipedia

### Population Data: 
Web scrapping of Population data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

# conda install -c anaconda beautiful-soup --yes
from bs4 import BeautifulSoup # package for parsing HTML and XML documents

import csv # implements classes to read and write tabular data in CSV form

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/DSX-Python35

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.19.0               |             py_0          53 KB  conda-forge
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          85 KB

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0   conda-forge
    geopy:         1.19.0-py_0 conda-forge


Downloading and Extracting Packages
geopy-1.19.0         | 53 KB     | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Web scrapping of Population data from wikipedia page using BeautifulSoup.

Beautiful Soup is a Python package for parsing HTML and XML documents (including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping.

In [56]:
website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('NYC_POPULATION1.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

In [57]:
Pop_data=pd.read_csv('NYC_POPULATION1.csv', usecols=[0,1,2,3,4,5,6,7,8], header=None)
Pop_data.columns = ["Borough", "County", "Population", "GDP", "Per Capita Income", "Sq Miles","Sq Km","person per sq mi","person per sq km"]

In [58]:
Pop_data.drop(Pop_data.index[0],inplace=True)
Pop_data

,Borough,County,Population,GDP,Per Capita Income,Sq Miles,Sq Km,person per sq mi,person per sq km
1,The Bronx\n,\n Bronx\n,"1,471,160\n",28.787\n,"19,570\n",42.10\n,109.04\n,"34,653\n","13,231\n"
2,Brooklyn\n,\n Kings\n,"2,648,771\n",63.303\n,"23,900\n",70.82\n,183.42\n,"37,137\n","14,649\n"
3,Manhattan\n,\n New York\n,"1,664,727\n",629.682\n,"378,250\n",22.83\n,59.13\n,"72,033\n","27,826\n"
4,Queens\n,\n Queens\n,"2,358,582\n",73.842\n,"31,310\n",108.53\n,281.09\n,"21,460\n","8,354\n"
5,Staten Island\n,\n Richmond\n,"479,458\n",11.249\n,"23,460\n",58.37\n,151.18\n,"8,112\n","3,132\n"
6,City of New York,"8,622,698",806.863,"93,574",302.64,783.83,"28,188","10,947\n",NaN
7,State of New York,"19,849,399","1,547.116","78,354","47,214","122,284",416.4,159\n,NaN
8,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
Pop_data['Borough']=Pop_data['Borough'].replace(to_replace='\n', value='', regex=True)
Pop_data['County']=Pop_data['County'].replace(to_replace='\n', value='', regex=True)
Pop_data['Sq Miles']=Pop_data['Sq Miles'].replace(to_replace='\n', value='', regex=True)
Pop_data['Sq Km']=Pop_data['Sq Km'].replace(to_replace='\n', value='', regex=True)
Pop_data['person per sq mi']=Pop_data['person per sq mi'].replace(to_replace='\n', value='', regex=True)
Pop_data['person per sq km']=Pop_data['person per sq km'].replace(to_replace='\n', value='', regex=True)
Pop_data['Population']=Pop_data['Population'].replace(to_replace='\n', value='', regex=True)
Pop_data['GDP']=Pop_data['GDP'].replace(to_replace='\n', value='', regex=True)
Pop_data['Per Capita Income']=Pop_data['Per Capita Income'].replace(to_replace='\n', value='', regex=True)
Pop_data.drop(Pop_data.index[5:8],inplace=True)
Pop_data

,Borough,County,Population,GDP,Per Capita Income,Sq Miles,Sq Km,person per sq mi,person per sq km
1,The Bronx,Bronx,"1,471,160",28.787,"19,570",42.10,109.04,"34,653","13,231"
2,Brooklyn,Kings,"2,648,771",63.303,"23,900",70.82,183.42,"37,137","14,649"
3,Manhattan,New York,"1,664,727",629.682,"378,250",22.83,59.13,"72,033","27,826"
4,Queens,Queens,"2,358,582",73.842,"31,310",108.53,281.09,"21,460","8,354"
5,Staten Island,Richmond,"479,458",11.249,"23,460",58.37,151.18,"8,112","3,132"

Save DataFrame

In [60]:
Pop_data.to_csv('NYC_POPULATION.csv',index=False)

### DEMOGRAPHICS DATA

We will web scrap Demographics data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

In [61]:
website_url = requests.get('https://en.wikipedia.org/wiki/New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable collapsible'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('NYC_DEMO.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

In [66]:
Demo_data=pd.read_csv('NYC_DEMO.csv')

Demo_data

,Racial composition,2010[249],1990[251],1970[251],1940[251]
0,White,44.0%,52.3%,76.6%,93.6%\n
1,—Non-Hispanic,33.3%,43.2%,62.9%[252],92.0%\n
2,Black or African American,25.5%,28.7%,21.1%,6.1%\n
3,Hispanic or Latino (of any race),28.6%,24.4%,16.2%[252],1.6%\n
4,Asian,12.7%,7.0%,1.2%,−\n

In [67]:
Demo_data.rename(columns = {'2010[249]' : '2010',
                   '1990[251]':'1990',
                   '1970[251]':'1970', 
                   '1940[251]':'1940',
                    }, inplace=True)

In [68]:
Demo_data.columns = Demo_data.columns.str.replace(' ', '')

In [69]:
Demo_data= Demo_data.replace('\n',' ', regex=True)
Demo_data

                  Racialcomposition   2010   1990        1970 1940[251]\n
0                             White  44.0%  52.3%       76.6%      93.6%
1                     —Non-Hispanic  33.3%  43.2%  62.9%[252]      92.0%
2         Black or African American  25.5%  28.7%       21.1%       6.1%
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%[252]       1.6%
4                             Asian  12.7%   7.0%        1.2%          −

In [70]:
Demo_data['1970'] = Demo_data['1970'].str.rstrip('[252]')
Demo_data

                  Racialcomposition   2010   1990   1970 1940[251]\n
0                             White  44.0%  52.3%  76.6%      93.6%
1                     —Non-Hispanic  33.3%  43.2%  62.9%      92.0%
2         Black or African American  25.5%  28.7%  21.1%       6.1%
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%       1.6%
4                             Asian  12.7%   7.0%   1.2%          −

In [71]:
Demo_data.to_csv('NYC_DEMOGRAPHICS.csv',index=False)